<div class="text-center" id={{user.id}}>
    <div class="card review-card">
        <div class="card-header">
            <button class="btn btn-sm btn-danger" data-id="{{id}}">X</button>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <h2>{{title}}</h2>
                <h3>"{{content}}"</h3>
                <p>{{user.username}} / {{date_created}}</p>
            </blockquote>
        </div>
    </div>
    </br>
</div>