<div class="text-center" id={{user.id}}>
    <div class="card review-card">
        <div class="card-header">
            {{!-- <button class="btn btn-sm" data-id="{{id}}">X</button> --}}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <a href="/post/{{id}}">{{title}}</a>
                <p>{{user.username}} / {{date_created}}</p>
            </blockquote>
        </div>
    </div>
    </br>
</div>
